// Hey! Try: http://colorschemedesigner.com/#3w52qlluJiiLt 

@import url('public/css/reset.css');

html {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	background: #8DC2E7;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
}

strong {
	font-weight: bold;
}

h1, h2, h3 {
	margin: 0.5em 0;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 115%;
}

p, li {
	margin: 0.5em 0;
}

a {
	color: black;
}

.text-placeholder {color: #AAA !important}

#hd {
	border-bottom: 5px solid #522585;
	padding-bottom: 2px;
	float: left;
	width: 960px;

	.email {
		font-weight: bold;
	}
}

#logo {
	margin: 0;
	color: #522585;
	float: left;
}

#logged-in-as {
	font-size: 80%;
	color: #333;
	float: right;
	clear: right;
	margin: 1.3em 0;
}

#doc {
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	background: white;
}


#ft {
	clear: both;
	text-align: center;
	font-size: 10px;
	color: #666;
}

#global-nav {
	float: right;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
		display: inline;
		width: 120px;

		a {
			position: relative;
			margin: 10px 0;
			padding: 5px;
			width: 100px;
			background: #DFF7C3;
			color: #66438E;		
			text-decoration: none;

			:hover {
				background: #99DE4A;
				color: #222;
			}
		}
	}
}

#band-hd {
	clear: both;
	color: #22587E;

	a {
		color: #22587E;
	}
}

#content {
	min-height: 600px;
	width: 100%;
	clear: both;
	padding-top: 10px;
	float: left;

	a {
		font-weight:bold;
		color: #22587E;
		text-decoration: none;

		:hover {
			text-decoration: underline;
		}
	}

	table {
		border: solid 1px #CCC;

		thead {
			background: #DDD;
		}

		th {
			font-weight: bold;
			text-align: left;
		}
		
		th, td {
			padding: 10px 20px;
		}

		tr {
			border-bottom: 1px solid #DDD;
		}
		tr:last-child {
			border-bottom: none;
		}

		a {
			margin-right: 10px;
		}
	}
}

#login {
	margin: 40px 100px;
	float: left;
	width: 760px;

	.hint {
		float: right;
		width: 210px;
		padding: 0 30px;
		background: #D1BCE9; 
		font-size: 75%;
		color: #333;
		line-height: 1.9em;
		border: 1px solid #7040A6;
		
		p {
			margin: 1.5em 0;
		}

		strong {
			display: block;
		}
	}

	form {
		float: left;
		width: 340px;

		p { 
			width: 100%;
			float: left;
			clear: both; 
		}

		#submit_btn {
			float: right;
		}

	}

	label {
		width: 140px;
		float: left;
		padding-top: 0.7em
	}

	input {
		width: 180px;
		float: right;
	}

}

#song-container {
	overflow-y: scroll;
	height: 300px;
	width: 300px;
	border: 1px solid black;

	.song {
		width: 280px;
		float: left;
		//background: #D1BCE9;
		background: #F2F2F9;
		margin: 0 0 3px;
	}

	.name, .length {
		padding: 0.5em 0.25em;
		float: left;
	}

	.name {
		width: 150px;
	}

	.length {
		width: 50px;
	}

	.remove-song {
		float: right;
	}
}

#list-detail {
	float: left;
}

#list-name {
	width: 200px;
}

#list-songs {
	float:right;
	width: 600px;

	table {
		margin: 20px 0;
		width: 600px;

		.add {
			width: 30px;
		}
		.length {
			width: 60px;
		}
	}

	tr.hover {
		background: #DFF7C3;
	}

}

#band {
	width: 960px;
	margin: 0 auto;

	#new-list-btn {
		display: block;
		margin: 1.4em 0;
	}

	#band-lists {
		clear: both;
		margin: 0;
		float: left;
		width: 580px;
	}

	#song-stats {
		float: right;
		width: 170px;
		padding: 20px 40px;
		margin-right: 50px;
		background: #DFF7C3;
		border: 1px solid #8CBE52;
		border-top: 0;
		border-left: 0;

		.song-count {
			font-size: 500%;
		}

		.total-time {
			font-size: 450%;
			margin: 0.3em 0;
		}

		a {
			background: none;
			display: block;
			text-align: center;
			font-size: 80%;
		}
	}
}
